@media (min-width: 48rem){

 
    body{
        justify-content: center;
        padding-left: 8rem;
        padding-right: 8rem;
    }

    main{
        flex-direction: row;

    }


    .main-image {
        height: auto;
        width: 22.9rem;
        border-radius: 1rem 0 0 1rem;
        object-fit: cover;
    }


    article{
        padding: 4.1rem 3.6rem 2.4rem 3.2rem;

    }
    

    .user-section{
        padding: 0 3.6rem 4.1rem 3.2rem;
    }

}