:root{
    --white: #FFFFFF;
    --grey-200: #ECF2F8;
    --grey-400:#9DAEC2;
    --grey-500:#6E8098;
    --grey-900: #48556A;
}


.text-preset-1{
    font-size: 2rem;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0.025rem;
}

.text-preset-2-medium{
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0.12%;
}

.text-preset-2-bold{
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 0.12%;
}

.text-preset-3{
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 25%;
}


